html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.content-block {
    width: 100%;
}

.bg-dark {
    background: #555555;
    color: #ffffff;
}
.bg-light {
    background: #606060;
    color: #ffffff;
}

.orang {
    color: #ffaa00;
}

@media (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

.container {
    width: 1280px;
    padding: 3% 1%;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

nav button {
    padding: 5px 10px;
}

#header-video-bg-container {
    position: relative;
    height: 70vh;
    z-index: -2;
    text-align: center;
}

#header-video-bg-container > video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px);
}

#video-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000cc;
}